/* Classes */
.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.ui.menu {
    background-color: black;
}

.ui.large.image {
    margin-left: 20px;
}

.print.icon {
    margin-right: 20px;
    width: 50px;
}

footer {
    text-align: center;
}

/* IDs */
#title {
    color: brown;
    text-align: center;
    font-size: 100px;
}

#aboutbtn,
#recipebtn,
#listbtn {
    color: white;
}

/* Media Queries */
@media (max-width: 768px) {
    #title {
        font-size: 50px;
    }

    .ui.large.image {
        width: 100px;
    }

    .ui.small.image {
        width: 100px;
    }
}

@media (max-width: 576px) {
    #title {
        font-size: 30px;
    }

    .ui.large.image {
        width: 100px;
    }

    .ui.small.image {
        width: 100px;
    }
}