.header-content {
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 30px;
}

#title {
    color: brown;
    text-align: center;
    font-size: 100px;
}

header {
    background-image: url(../images/hamburger.jpg);
  /*  background-color: #FAD8A9; */
    padding: 20px;
}

.ui.menu {
   background-color: rgb(29, 88, 0);
   font-size: 15px;
}

#aboutbtn {
    color: white;
}

#recipebtn {
    color: white;
}

#listbtn {
    color: white;
}

#menuOptionsHeader {
    color: brown;
    font-size: 50px;
}

.menuOptions {
    background-image: url(../images/hamburgerB.jpg);
    /* background-color: #FAD8A9; */
    text-align: center;
    color: rgb(0, 4, 48);;
    font-size: 30px;
    font-weight: bold;
}

.blur {
    backdrop-filter: blur(10px);
    position: relative;
    padding: 5px; /* Add some padding */
    border-radius: 10px; /* Optional: rounded corners */
    display: inline-block; /* Makes the container fit the text */
}

main > section {
    padding: 20px;
}

.options {
    background-color:antiquewhite;
}

.foodTitles {
    color: brown;
    font-size: 30px;
}

.foodTitlesDescriptions {
    font-size: 20px;
    font-style: italic;
}