.header-content {
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: #FAD8A9; 
    padding: 20px; 
}

#title {
    color: brown;
    text-align: center;
    font-size: 100px;
}

header {
    background-color: #FAD8A9;
    padding: 20px;
}

.ui.menu {
   background-color: teal;
}

#menuOptionsHeader {
    color: brown;
    font-size: 50px;
}

.menuOptions {
    background-color: #FAD8A9;
    text-align: center;
    color: rgb(0, 4, 48);;
    font-size: 35px;
}

main > section {
    padding: 20px;
}

.options {
    background-color:antiquewhite;

}

.ui.header {
    color: rgb(0, 4, 48);
}